In [139]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Dataset de Homicidios

### ETL:

----------------------
------------

1. EXTRACIÓN:

HECHOS

In [ ]:
# Carga la hoja llamada 'Hechos' del archivo Excel
df_hechos = pd.read_excel('C:/Users/micai/OneDrive/Escritorio/SINIESTROS_VIALES/Data_original/homicidios.xlsx', sheet_name='HECHOS')
#df_hechos

In [ ]:
#muestra la información del df
df_hechos.info()

2. TRANSFORMACIÓN

In [ ]:
#veo los nulos pero todavía no los voy a borrar
df_hechos.isnull().sum()

In [ ]:
#veo si hay datos duplicados
df_hechos.duplicated().sum()

In [ ]:
# Encuentra las celdas que contienen 'SD' y las convierte en NaN
df_hechos = df_hechos.apply(lambda x: x.map(lambda y: np.nan if 'SD' in str(y) else y))

# Resetea el índice
df_hechos.reset_index(drop=True, inplace=True)
#df_hechos

In [ ]:
df_hechos.columns

In [ ]:
#elimino las columnas que no voy a usar
columnas_a_eliminar = ['AAAA', 'MM', 'DD', 'LUGAR_DEL_HECHO','Calle', 'Altura', 'Cruce', 'Dirección Normalizada', 'XY (CABA)']
df_hechos.drop(columnas_a_eliminar, axis=1, inplace=True)

In [ ]:
#renombro las columnassum()
df_hechos = df_hechos.rename(columns={'ID':'id_hecho', 'N_VICTIMAS':'n_victimas','FECHA':'fechas','HORA':'hora','HH':'franja_horaria',
                                      'TIPO_DE_CALLE':'tipo de calle','COMUNA':'comuna','pos x':'longitud',
                                       'pos y':'latitud','PARTICIPANTES':'participantes', 'VICTIMA':'victima','ACUSADO':'acusado'})

In [ ]:
# Converto las filas a minúsculas
df_hechos = df_hechos.apply(lambda x: x.map(lambda y: y.lower() if isinstance(y, str) else y))

In [ ]:
#veo el tipo de dato de cada columna
df_hechos.info()

In [ ]:
# Convierte la columna 'franja_horaria' a int64 permitiendo NaN
df_hechos['franja_horaria'] = pd.to_numeric(df_hechos['franja_horaria'], errors='coerce').astype('Int64')

In [ ]:
# Reemplazar los puntos por NaN en la columna 'longitud' y la convierto en un tipo de dato flotante
df_hechos['longitud'] = pd.to_numeric(df_hechos['longitud'], errors='coerce').astype('float64')

In [ ]:
# Reemplazar los puntos por NaN en la columna 'longitud' y la convierte en un tipo de dato flotante
df_hechos['latitud'] = pd.to_numeric(df_hechos['latitud'], errors='coerce').astype('float64')

In [ ]:
# Crear nuevas columnas 'vehiculo1' y 'vehiculo2' a partir de 'participantes'
df_hechos[['participante1', 'participante2']] = df_hechos['participantes'].str.split('-', expand=True)

In [ ]:
df_hechos = df_hechos.drop('participantes', axis=1)

In [ ]:
df_hechos['gravedad']='fatal'

In [ ]:
df_hechos

In [ ]:
#pasa el df a un CSV
df_hechos.to_csv('df_hechos.csv', index=False)

-----------

VICTIMAS

In [140]:
# Carga la hoja llamada 'Hechos' del archivo Excel
df_victimas = pd.read_excel(r'C:/Users/micai/OneDrive/Escritorio/SINIESTROS_VIALES/Data_original/homicidios.xlsx', sheet_name='VICTIMAS')
df_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [141]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [142]:
df_victimas.isnull().sum()

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

In [143]:
df_victimas.duplicated().sum()

0

In [144]:
# Encuentra las celdas que contienen 'SD' y las convierte en NaN
df_victimas = df_victimas.apply(lambda x: x.map(lambda y: np.nan if 'SD' in str(y) else y))

# Resetea el índice
df_victimas.reset_index(drop=True, inplace=True)
#df_victimas

In [145]:
df_victimas.columns

Index(['ID_hecho', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

In [146]:
#elimino las columnas que no voy a usar
df_victimas = df_victimas.drop(['AAAA', 'MM', 'DD', 'FECHA_FALLECIMIENTO'], axis=1)

In [147]:
#renombro las columnas
df_victimas = df_victimas.rename(columns={'ID_hecho':'id_hecho', 'FECHA':'fecha', 'ROL':'rol', 'VICTIMA':'victima', 
                            'SEXO':'sexo_victima','EDAD':'edad_victima'})

In [149]:
# Convierte la columna a int64 permitiendo NaN
df_victimas['edad_victima'] = pd.to_numeric(df_victimas['edad_victima'], errors='coerce').astype('Int64')

In [153]:
# Convierto las filas a minúsculas
df_victimas = df_victimas.apply(lambda x: x.map(lambda y: y.lower() if isinstance(y, str) else y))

In [155]:
#agrego columna 'fatal'
df_victimas['gravedad'] = 'fatal'

In [156]:
df_victimas

,id_hecho,fecha,rol,victima,sexo_victima,edad_victima,gravedad
0,2016-0001,2016-01-01,conductor,moto,masculino,19,fatal
1,2016-0002,2016-01-02,conductor,auto,masculino,70,fatal
2,2016-0003,2016-01-03,conductor,moto,masculino,30,fatal
3,2016-0004,2016-01-10,conductor,moto,masculino,18,fatal
4,2016-0005,2016-01-21,conductor,moto,masculino,29,fatal
...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,peaton,peaton,femenino,50,fatal
713,2021-0093,2021-12-13,pasajero_acompañante,moto,femenino,18,fatal
714,2021-0094,2021-12-20,pasajero_acompañante,moto,femenino,43,fatal
715,2021-0095,2021-12-30,conductor,moto,masculino,27,fatal
716,2021-0096,2021-12-15,conductor,auto,masculino,60,fatal

In [157]:
#pasa el df a un CSV
df_victimas.to_csv('df_victimas.csv', index=False)